.footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), #7c53a5;
    padding-left: 150px;
    padding-right: 150px;
    @media #{$xs, $sm}{
        padding: 0;
    }

        &__box-credits{
            text-align: center;
            margin-bottom: 20px;
            margin-top: 10px;
            & a{
                color: #fff;
                text-align: center;
                text-decoration: none;
                font-weight: 500;
                border-bottom: 1px solid rgb(185, 60, 81);
                font-size: 10px;
                transition: 0.5s linear;
                &:hover{
                    color: rgb(185, 60, 81);
                }
            }
        }

        

        .box-divider{
            border-top: 3px solid rgb(185, 60, 81);
            display: flex;
            justify-content: center;
            align-items: center;

            & p{
                padding-top: 5px;
                font-size: 13px;
                font-weight: 700;
                text-align: center;
                color: #fff;
            }
        }
}

