/*----------------------------------------*/
/*  02. HEADER CSS START
/*----------------------------------------*/
.select-wrapper{
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @media #{$xs, $sm, $md}{
        display: none;
    }
    &:hover{
        color: #78628f;
    }
    &::before{
        margin-left: -15px;
        cursor: pointer;
    }
}


#translate-btn{
    background: none;
    width: 75px;
    height: 55px;
    border-radius: 10px;
    border: none;
    color: $white;
    background-image: url(../img/translate.png);
    background-repeat: no-repeat;
    background-position:center;
    appearance: none;
    cursor: pointer;
    @media #{$xs, $sm, $md}{
        display: none;
    }
    &:focus{
        text-align: center;
    }
    & option{
        background-color: #78628f;
        padding: 0;
        font-family: $roboto;
    }

}


.actived{
    padding: 3px 5px;
    transition: ease-in 0.5s;
    animation: actived-animation 2s linear infinite alternate;
}
.actived-mobile{
    border-bottom: 3px solid #9b1c0b;
    padding: 3px 5px;
    width: 150px;
    transition: ease-in 0.5s;
}



@keyframes actived-animation{
    0%{
        border-bottom: 3px solid #9b1c0b;
    }
    100%{
        border-bottom: 3px solid #db6262;
    }
}

.header {
    &__area,
    &__bottom {
        &.sticky-2 {
            left: 0;
            margin: auto;
            position: fixed !important;
            top: 0;
            width: 100%;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
            z-index: 99;
            -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
            height: 100px;
            background:   linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), #78628f;; 
        }
    }
    &__transparent-2 {
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        width: 100%;
        z-index: 10;
        height: 70px;
        background:  transparent;
        @media #{$xs} {
           top: 32px;
        }
        @media #{$sm} {
            top: 31px;
         }
         @media #{$md} {
            top: 30px;
         }
     
    }
    &__right {
        & a.login {
            font-size: 15px;
            color: $black-2;
            &:hover {
                color: $w-purple;
            }
        }
    }
 
    &__padding-2 {
        @media #{$md} {
            padding: 15px 0;
        }
        @media #{$sm} {
            padding: 15px 0;
        }
        @media #{$xs} {
            padding: 15px 0;
        }
    }
    &__shadow {
        box-shadow:0px 30px 40px 0px rgba(10, 0, 48, 0.2);
        position: relative;
        z-index: 9;
        &-2 {
            box-shadow:0px 10px 20px 0px rgba(3, 1, 30, 0.06);
        }
    }
    
}



/* main menu css */

.main-menu {
    
    & .budget{
        background-color: #AFA01A;
        padding: 0px 5px;
        border: 4px solid #C4B57E;
        & a{
            color: #fff;
        }
    }
    @media #{$lg} {
        padding-left: 40px;
    }
    & ul {
        & li {
            display: inline-block;
            position: relative;
            margin-top: 10px;
            &:not(:last-child) {
                margin-right: 25px;
                @media #{$lg} {
                    margin-right: 25px;
                }
            }
            &.has-dropdown {
                & > a {
                    position: relative;
                    &::after {
                        content: "\f107";
                        @include transform(translateY(1px));
                        font-size: 14px;
                        color: $black-2;
                        font-family: $fontawesome;
                        font-weight: 400;
                        margin-left: 5px;
                        display: inline-block;
                    }
                }
            }
            & a {
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                display: block;
                padding: 10px 5px;
                border-radius: 7px;
                text-transform: uppercase;
                margin-bottom: 0;

                &:hover{
                    color: #C4B57E;
                }
            }
            &:hover {
                & > a {
                    color: #C4B57E;
                    &::after {
                        color: #C4B57E;
                    }
                }
             
            }

            
       
        }
    }
}

.sticky {
    .main-menu {
        
        & ul {
            margin-bottom: 10px;
            & li {             
                & a {
                    font-size: 15px;
                    font-weight: 600;
                    color: #fff;
                    display: block;
                    padding: 15px 10px;
                    border-radius: 7px;
                }
                &:hover {
                    & > a {
                        background: $purple-4;
                        color:#fff;
                        &::after {
                            background: $purple-4;
                            color:#fff;
                        }
                    }                    
                }
            }
        }
    }
}

/* sidebar area start */

.sidebar {
    &__area {
        position: fixed;
        right: -340px;
        top: 0;
        width: 320px;
        height: 100%;
        background: $white none repeat scroll 0 0;
        overflow-y: scroll;
        box-shadow:-5px 0 20px -5px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 9999;
        &.sidebar-opened {
            right: 0px;
        }
    }
    &__wrapper {
        position: relative;
        padding: 30px;
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 80px;
        &-btn {
            transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
            width: 40px;
            height: 40px;
            position: absolute;
            text-align: center;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            border: 1px solid rgba($color: $black, $alpha: 0.9);
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            background: transparent;
            z-index: 99;
            &:focus {
                border: 1px solid $black;
            }
            & span {
                transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
                position: absolute;
                top: 47%;
                left: 50%;
                font-size: 14px;
                font-weight: 900;
                line-height: 40px;
                vertical-align: middle;
                &:first-of-type {
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
                &:last-of-type {
                    text-transform: uppercase;
                    transform: translate(-50%, 50%);
                    -webkit-transform: translate(-50%, 50%);
                    -moz-transform: translate(-50%, 50%);
                    -ms-transform: translate(-50%, 50%);
                    -o-transform: translate(-50%, 50%);
                }
            }
            &:hover {
                width: 80px;
                border-radius: 0;
                & span:first-of-type {
                    transform: translate(-50%, -150%);
                    -webkit-transform: translate(-50%, -150%);
                    -moz-transform: translate(-50%, -150%);
                    -ms-transform: translate(-50%, -150%);
                    -o-transform: translate(-50%, -150%);
                }
                & span:last-of-type {
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.sidebar-toggle-btn { // botão menu mobile
    @media #{$md} {
        margin-right: 50px;
    }
    @media #{$sm} {
        margin-right: 30px;
    }
    @media #{$xs} {
        margin-right: 30px;
        margin-top: 10px;
    }
    & .line {
        width: 30px;
        height: 3px;
        background-color: #FFf;
        display: block;
        margin: 6px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        cursor: pointer;
        & .line {
            -webkit-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            transform: rotate(-30deg);

            &:nth-child(1) {
                width: 10px;
            }
            &:nth-child(2) {
                width: 20px;
            }
        }
    }
}

.body-overlay {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include transition(0.3s);
}
.body-overlay.opened {
    opacity: 1;
    visibility: visible;
}





/* mean menu customize */
.mean-container a.meanmenu-reveal {
    display: none;
}
.mean-container .mean-nav {
    background: none;
    margin-top: 0;
}
.mean-container .mean-bar {
    padding: 0;
    min-height: auto;
    background: none;
}
.mean-container .mean-nav > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: block !important;
}
.mean-container a.meanmenu-reveal {
    display: none !important;
}
.mean-container .mean-nav ul li a {
    width: 100%;
    padding: 10px 0;
    color: $black;
    border-top: 1px solid #dedee3;
    font-size: 13px;
    font-weight: 600;
    display: block;
}
.mean-container .mean-nav ul li a:hover {
    color: #C4B57E;
    letter-spacing: 2px;
}




.list-colapse{
    list-style: disc;
    color: #C4B57E;
}


