/*----------------------------------------*/
/*  03. HERO CSS START
/*----------------------------------------*/

.hero{
    &__area{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), #AB7ED9;  
        @media #{$xs, $sm, $md}{
            padding-bottom: 120px;
        }
        & .text-hero-wrapper{
            @media #{$md, $sm}{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @media #{$xs, $sm}{
                margin-top: 35%;
            }
            @media #{$md}{
                margin-top: 20%;
            }
            @media #{$xl}{
                margin-top: 5%;
            }
            & h1, h2{
                text-transform: uppercase;
            }
            & h1{
                font-size: 45px;
                color: rgb(185, 60, 81);
                @media #{$xxl}{
                    font-size: 65px;                    
                }
                @media #{$xl}{
                    font-size: 58px;                    
                }
                
            }
            & h2{
                font-size: 30px;
                color: #fff;
                @media #{$xxl}{
                    font-size: 40px;                    
                }
                @media #{$xl}{
                    font-size: 38px;                    
                }
            }

            & .text-typist{
                font-size: 28px;
                color: #fff;
                text-transform: uppercase;
                @media #{$xs}{
                    padding-right: 45px;
                }
                @media #{$xxl}{
                    font-size: 35px;                    
                }
            }
        }
        & .hero-img-right{
            & img{
                max-width: 400px;
                @media #{$xs}{
                    max-width: 300px;
                    margin-top: 50px;
                }
                @media #{$sm}{
                    margin-top: 80px;
                }
                @media #{$md}{
                    margin-top: 80px;
                }

            }
        }

        & .btn-hero{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 20px;
            @media #{$xs}{
                flex-direction: column;
                margin-top: 30px;
            }
            @media #{$sm, $md}{
                justify-content: center;
                margin-top: 30px;
            }

            & i{
                padding: 8px 70px;
                border-radius: 10px;
                background: #fff;
                color: #000;
                border: 2px solid  rgb(185, 60, 81);;
                box-shadow: 0px 1px 7px 1px  rgb(185, 60, 81);
                font-weight: 500;
                animation: btn-animation 2s linear infinite alternate;
                cursor: pointer;
                transition: 0.5s linear;
                &:hover{
                    background-color:  rgb(185, 60, 81);
                    color: #fff;
                }
                &::before{
                    padding-right: 20px;
                }
                &:first-child{
                    margin-right: 5%;
                    @media #{$xs}{
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
                @media #{$lg, $xl}{
                    padding: 7px 54px;
                }
                @media #{$xs}{
                    padding: 12px 55px;
                    display: flex;
                    justify-content: center;
                }
                @media #{$sm, $md}{
                    padding: 10px 55px;
                    display: flex;
                    justify-content: center;
                }
            }
            & .btn-github{
                &::after{
                    content: "Github";
                    font-family: $roboto;
                    font-weight: 600;
                }
            }
            & .btn-linkedin{
                &::after{
                    content: "Linkedin";
                    font-family: $roboto;
                    font-weight: 600;
                }
            }
            
           
        }
    }
    &__height{
        min-height: 100vh;
        @media #{$lg}{
            min-height: 850px;
        }
        @media #{$md}{
            min-height: 100vh;
        }
        @media #{$sm}{
            min-height: 100vh;
        }
        @media #{$xs}{
            min-height: 100vh
        }
        
    }
    &__thumb{
        @media #{$xxl}{
            margin-left: 0;
        }
        @media #{$xl}{
            margin-left: 0;
        }
        @media #{$lg}{
            margin-left: 0;
        }
        @media #{$md}{
            margin-left: 100px;
            margin-top: 80px;
        }
        @media #{$sm}{
            margin-left: 80px;
            margin-top: 80px;
        }
        @media #{$xs}{
            margin-left: 0;
            margin-top: 80px;
        }
        &-shape{
            position: relative;
            -webkit-animation: hero-thumb-animation 2s linear infinite alternate;
            -moz-animation: hero-thumb-animation 2s linear infinite alternate; 
            -o-animation: hero-thumb-animation 2s linear infinite alternate;
            animation: hero-thumb-animation 2s linear infinite alternate; 
            @media #{$xs, $sm, $md}{
                display: flex;
                justify-content: center;
            }
            
        }
    }
    
    
}



@keyframes hero-thumb-animation{
    0%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
}


@keyframes btn-animation{
    0%{
        box-shadow: 0px 2px 10px 1px  rgb(248, 248, 248);
    }
    100%{
        box-shadow: 0px 2px 10px 1px  rgb(185, 60, 81);
    }
}










