.introduction{
    &__area{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), #AB7ED9;
        border: 6px solid rgb(185, 60, 81);
        margin: 1px;
        padding-bottom: 50px;
    }

    &__title{
        text-align: center;
        font-size: 45px;
        font-family: $roboto;
        font-weight: 700;
        color: #fff;
        margin-top: 30px;
    }
    &__img{
        max-width: 300px;
        animation: img-introduction-animation 2s linear infinite alternate;
        @media #{$xs}{
            width: 100%;
        }
        @media #{$sm, $md, $lg, }{
            margin-bottom: 50px;
        }
    }
    &__box-contents{
        padding: 10px;
    }
    &__content-title{
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid rgb(185, 60, 81);
        &_2{
            text-align:end;
            color: #fff;
            text-transform: uppercase;
            border-bottom: 1px solid rgb(185, 60, 81);
        }

    }
    &__content-text{
        color: #fff;
        @media #{$xs}{
            margin-bottom: 80px;
         }

    }
    &__mobile-flex-img{
        @media #{$xs}{
           display: flex;
           justify-content: flex-end;
        }
    }
    &__flex-reverse-mobile{
        @media #{$xs}{
            display: flex;
            flex-direction: column-reverse;
         }
    }

  
}


@keyframes img-introduction-animation{
    0%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
}