.skills{
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), #AB7ED9;;
     padding-top: 30px;
     padding-bottom: 150px;
     border: 6px solid rgb(185, 60, 81);
     margin: 1px;
    &__title{
        text-align: center;
        font-size: 45px;
        color: #fff;
    }
    &__subtitle{
        text-align: center;
        font-size: 20px;
        color: #fff;
    }
    &__btn-box{
        display: flex;
        flex-direction: column;
        align-items: center;

        & button{
            background: none;
            width: 120px;
            border: none;
            margin-bottom: 20px;
            color: #fff;
            font-size: 16px;
            text-align: center;
            & .actived{
                border-bottom: 1px solid rgb(185, 60, 81);
            }
        }
    }
    &__ability-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__img-ability{
        max-width: 200px;
    }
    &__text-ability{
        font-size: 15px;
        color: #fff;
        text-align: center;
        margin-top: 20px;
    }
}