.skills{
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), #AB7ED9;;
     padding-top: 30px;
     padding-bottom: 150px;
     border-top: 2px solid rgb(185, 60, 81);
    &__title{
        text-align: center;
        font-size: 45px;
        color: #fff;
        @media #{$xs}{
            font-size: 40px;
         }
    }
    &__subtitle{
        text-align: center;
        font-size: 18px;
        color: #fff;
        @media #{$xs}{
            font-size: 15px;
            text-align: start;
         }
    }
    &__btn-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media #{$xs, $sm, $md}{
            border: none;
            margin-bottom: 30px;
         }

        & button{
            background: none;
            width: 125px;
            border: none;
            margin-bottom: 20px;
            color: #fff;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.6s linear;
            margin-right: 10px;
            
           
            &:hover{
                color: rgb(255, 70, 70);
            }
            @media #{$xs, $sm, $md}{
                width: 160px;
             }
            & .actived{
                border-bottom: 1px solid rgb(185, 60, 81);
            }
        }
    }
    & .mobile-border{
        @media #{$xs, $sm, $md}{
            border-bottom: 1px solid #fff;
            margin-bottom: 60px;
         }

    }
    &__ability-box{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30pxgvb;
        @media #{$xs, $sm, $md}{
            flex-direction: column-reverse;
            margin-bottom: 20px;
         }
        
    }
  
    &__progressbar-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        & .circle-progress-box{
            width: 100px;
            height: 100px;
            @media #{$xs, $sm, $md}{
                margin-bottom: 30px;
             }
        }

        & .CircularProgressbar .CircularProgressbar-path{
            stroke: rgb(185, 60, 81);
            animation: animation-progress-circle 4.5s linear ;
            
        }
    }


    &__performance-title{
        color: rgb(194, 126, 23);
        font-weight: 600;
        
    }
    &__img-ability{
        max-width: 200px;
        animation: img-ability-animation 2s  ease-in infinite alternate;
        margin-top: 10px;
    }
    &__text-ability{
        font-size: 15px;
        color: #fff;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        border-bottom: 1px solid rgb(185, 60, 81);
        @media #{$xs, $sm, $md}{
            margin-bottom: 30px;
         }
    }

    &__technologies-box{
        background: rgb(0,0,0);
        background: linear-gradient(225deg, rgba(0,0,0,1) -15%, rgba(134,37,37,1) 22%, rgba(255,70,70,1) 79%);
        width: 100%;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: inset -10px -10px 80px 1px rgba(0, 0, 0, 0.3),
        10px 20px 50px 10px rgba(0, 0, 0, 0.5);
        border: double 5px transparent;
        border-radius: 25px;
        @media #{$xs}{
            display: flex;
            flex-direction: row;
            padding: 0;
         }
    

        & .card-tech{
            color: #555;
            height: 90px;
            float: left;
            padding: 20px;
            margin: 15px;
            background: rgb(255, 255, 255);
            background-image: linear-gradient(110deg, rgb(255, 255, 255), rgb(185, 185, 185));
            opacity: 0.9;
            backdrop-filter: blur(1px);
            border-radius: 25px;
            border: double 5px transparent;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            animation-name: cards-animation; 
            animation-duration: 6000ms;
            animation-iteration-count: infinite; 
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); 
            @media #{$xs}{
                width: 75px;
                border-radius: 14px;
                margin: 5px;
             }

            &:hover {
            opacity: 0.7;
            background-image: linear-gradient(-70deg, rgb(216, 88, 88), #9a9);
            color: #223;
            }

            & img{
                width: 30px;
            }
            & h6{
                text-align: center;
                color: #000;
                font-size: 12px;
                margin-top: 10px;
                font-weight: 600;
                @media #{$xs, $sm}{
                    font-size: 10px;
                 }
            }

        }
    }
}

@keyframes animation-progress-circle{
    0%{
        stroke-dasharray: 53.079633px 157.07963267948966px;
      }
     50%{
        stroke-dasharray: 90.079633px 157.07963267948966px;
     } 
      100%{
        stroke-dasharray: 157.07963267948966px 157.07963267948966px;
      }
}

@keyframes img-ability-animation{
    0%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
}



@keyframes cards-animation {
  0%,
  100% {
    transform: rotate3d(0, 1, 0, 10deg);
  }
  50% {
    transform: rotate3d(0, 1, -0.2, 45deg);
  }
}